//**************** COLORS ***************************
$green: #51B348;
$blue: #00B0C8;
$grey: #555555;
$lightGrey: #DEDEDE;
$black: #000000;
$white: #FFFFFF;
$shadowH3: 0 0 1px #555555, 0px 4px 4px rgba(149, 250, 71, 0.72);


//**************** TYPO ***************************

$shojumaru: Shojumaru;
$roboto: Roboto;

$sizeH3: 18px;
$weightH3: 400;

$sizeSelect: 18px;
$weightSelect: 400;

$sizeTextSelectCard: 16px;
$weightTextSelectCard: 700;

$sizeTextSelectOption: 18px;
$weightTextSelectOption: 400;

$sizeTextModal: 24px;
$weightTextModal: 700;

// ************** BORDER **************
$radiusCard: 8px;
$radiusSelect: 8px 8px 0 0;
$borderCard: 4px solid $grey;

