@import "variables";
@import "home";

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $green;
}

h1 {
    margin: 0;
}

h2{
    background-color: #fff;
    padding: 20px;
    font-family: $shojumaru;
    font-size: $sizeSelect;
    font-weight: $weightSelect;
    color: $green;
    border-radius: $radiusSelect;
    cursor: pointer;
}

#seasons{
    display: flex;
    justify-content: center;
    section{
        width: 20%;
        margin: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.season-card{
    border-radius: 8px;
    background-color: #555555;
    width: 100%;
    margin: 30px 0;
}

h3 {
    font-family: $shojumaru;
    font-size: $sizeH3;
    font-weight: $weightH3;
    color: $blue;
    text-shadow: $shadowH3;
    margin: 0%;
}

header, footer {
    height: 50px;
    background-color: $white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}
.hide {
    display: none
}

.main__location {
    position: relative;
    background-image: url("../assets/bg_body\ \(2\).png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh - 100px);
    overflow-y: scroll
   
}
// ********************* HEADER *******************

.nav__container-img {
    width: 10%;
    transition: transform .8s ease-in-out;  
}
.nav__container-img:hover {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.nav__container-links {
    ul { 
        display: flex;
        justify-content: space-around;
        font-family: $roboto;

        li {  
            margin: 0 30px; 
            a {
                font-size: 16px;
                font-weight: 700;
                color: $grey;
            }
            a:hover {
                color: $green;
                font-size: 20px;
            }
        }  
    } 
}

//********************** CARD ********************
.container_loc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    overflow: hidden;
    width: 20%;
    border-radius: $radiusCard;
    border: $borderCard;
    background-color: $white;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 300ms ease;  
}
.card:hover{
    transform: scale(1.2);
}

.card_loc {
    overflow: hidden;
    height: 100%;
    border-radius: $radiusCard;
    border: $borderCard;
    background-color: $white;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 300ms ease; 
}
.card_loc:hover {
    transform: scale(1.1);
}


.card__text {
    text-align: center;
    padding: 10px 0
}
.card__img {
    height: 142px;
}
.container__card-location {
    display: flex;
    width: 18%;
    height: 150px;
    margin-bottom: 20px;
}
.img__loc {
    width: 100%;
    height: 88%;
}

// ****************** MODAL ************************
.modal {
    border-radius: $radiusCard;
    background-color: $lightGrey;
    // opacity: 0.9;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.modal__card-detail {
    border-radius: $radiusCard;
    background-color: $grey;
    width: 30%;
    margin: 30px 0;
 
    h3 {
        font-size: $sizeTextModal;
        padding: 15px 0;
        text-align: center;
    }
    p {
        font-family: $roboto;
        font-size: $sizeTextModal;
        font-weight: $weightTextModal;
        color: $green;
        text-align: center;
        padding: 5px 0;
        margin: 0;
    }
    ul {
        padding: 10px 0;
        height: 130px;
        overflow-x: hidden;
        text-align: center;
        background-color: $green;
        
        li {
            font-family: $roboto;
            font-weight: $weightTextModal;
        }
    }
}

.modal__card-select {
    border-radius: $radiusCard;
    background-color: $green;
    p {
        font-family: $roboto;
        font-size:$sizeTextSelectCard;
        font-weight: $weightTextSelectCard;
        color: $white;  
    }
}
.scrollLi {
    height: 200px;
    overflow-y: scroll;
}

.icon-cross {
    cursor: pointer;
    margin-left: 40px;
    transition: transform .8s ease-in-out;  

}
.icon-cross:hover {
    transform:rotate(180deg);
}

.container__modal-location {
    width: 80%;
    position: absolute;
    top: 18%;
    left: 15%;
    margin: 30px 0;
}

//******************* SELECT ************************
.select {
    display: flex;
    justify-content: center;
    
    select {
        display: flex;
        justify-content: center;
        width: 25%;
        margin: 40px;
        padding: 10px 60px;
        border: none;
        font-family: $shojumaru;
        font-size: $sizeSelect;
        font-weight: $weightSelect;
        color: $green;
        border-radius: $radiusSelect;
        cursor: pointer;
        outline: none;

        option {
            background-color: $lightGrey !important;
        }
    }
}
.select select:hover {
    background: $grey;
    transition: all 1s ease-out;
}

// ****************** FOOTER ************************

footer, .loc {
    background-color: $white;

    .footer__container-text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        span {
            color: $grey;
            font-family: $roboto;
            font-weight: 700;
            font-size: 16px;
        }
    }
}


.container-card-character {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img__character{
    height: auto;
}

.species-select {
    display: flex;
    justify-content: center;
    margin: 40px;

    select {
        display: flex;
        justify-content: center;
        width: 25%;
        padding: 10px 60px;
        border: none;
        font-family: $shojumaru;
        font-size: $sizeSelect;
        font-weight: $weightSelect;
        color: $green;
        border-radius: $radiusSelect;
        cursor: pointer;
        outline: none;

        option {
            background-color: $lightGrey !important;

        }
    }
}